
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    padding: 0;
    margin: 0;
    

}
body{
    width: 100%;
    height: 200vh;
    background-color: black;
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
  
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5em;
    position: relative;
}
.insta{
    font-family: "Dancing Script";
    height: 10%;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
   
}
.rside{
box-sizing: border-box;
width: 15%;
height: 100vh;
display: flex;
flex-direction: column;
gap: 1em;
justify-content: center;
border-right: 1px solid rgba(91, 88, 88, 0.674);
margin-left: 2em;
margin-top: 1em;
padding-bottom: 2em;
position:fixed;
}

.allmeanu{
padding-top: 1em;

height: 70%;
width: 100%;
display: flex;
flex-direction: column;
gap: 1.5em;
font-size: 1.2em;
font-weight: 100;

}
.bottom{
    box-sizing: border-box;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.2em;
    font-weight:500;
}
.home, .search,.explore,.reels,.msg,.noti,.creat,.dash,.profile,.more,.meta {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.ihome,.isearch,.iexplore,.ireels,.imsg,.inoti,.icreat,.idash,.iprofile,.imore,.imeta{
  width: 1.5em;
  height: 1.5em;
  fill:white;
  display: flex;
  justify-content: center;
}

.white{
    width: 80%;
    height: 80%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.iprofile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.icreat {
    width: 10%;
    height: 100%;
    border: 0.1em solid white;
    border-radius: 0.2em;
}

.mid {
    margin-left: 26%;
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 2em;
    

}
.stories {
    width: 100%;
    padding: 2em;
 
    display: flex;
    align-items: center;
    gap: 2.5em;
 
}

.round{
width: 5em;
height: 5em;

border-radius: 50%;
position: relative;


}
.iam{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    border: 5px solid black;
}

.round::after{
    content: " ";
    height: 121%;
    width: 151%;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(rgba(255, 0, 0, 0.697),rgba(128, 0, 128, 0.725),rgba(255, 0, 0, 0.785),rgba(255, 166, 0, 0.736),rgba(255, 255, 0, 0.604),
        rgba(255, 0, 0, 0.785));
    top: -3px;
    left: -3px;
    /* z-index: -1; */
}


.post{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.rpost{
    width: 74%;
    height: 45em;
    border: 0.01em solid rgba(128, 128, 128, 0.366);
    border-left: none;
   border-right: none;
   border-top: none;
}
.Uname{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding-left: 5px;
    padding-right: 100px;
}
.user{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 1em;
}
.tdots{
    width: 2em;
    font-weight: bolder;
    color: grey;
}
.userimg{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: relative;
}
.userimg img{
    width: 2em;
        height: 2em;
        border-radius: 50%;
      
        border: 3px solid black;
}
.userimg::after {
    content: " ";
    height: 125%;
    width: 125%;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(rgba(255, 0, 0, 0.975), rgba(128, 0, 128, 0.986), rgb(255, 0, 0), rgb(255, 166, 0), rgba(255, 255, 0, 0.604),
            rgb(255, 0, 0));
    top: -1.5px;
    left: -1.5px;
    z-index: -1;
}
.name{
    display: flex;
    gap: 1em;
}

.dot{
    width: 100%;
    height: 100%;
    font-weight:1000;
    color: grey;
    position: relative;
}

.dot::after{
    content: ".";
    width: 100%;
   height: 100%;
    position: absolute;
    top: -6px;
}
.time{
    width: 100%;
    height: 100%;
    font-weight:500;
    color: grey;
    position: relative;
}

.time::after{
    content: "2h";
    width: 100%;
   height: 100%;
    position: absolute;
    
    left: -5px;
}
.Upost{
    
    border: 0.01em solid rgba(128, 128, 128, 0.366);
    border-radius: 4px;
    width: 100%;
    height: 70%;
    margin: 1em auto;
}
.Upost img{
    width: 100%;
    height: 100%;
}
.Udetails{
    width: 100%;
    height:5%;
  
   
}
.like{
        width: 100%;
        height: 60%;
  
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        margin-bottom: 1em;
    }
.lcs{
    width: 25%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}
.lcs img{
    width: 33%;
    height: 1.5em;
}
.save img{
width: 100%;
height: 1.5em;
}

.Odetails{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: rgba(240, 248, 255, 0.836);
    font-weight: 300;
}
.bold{

    font-weight: 600;

}
.light{
    color: grey;
}


.lside{
 width: 45%;
 /* background-color: aqua; */
 margin-left: 1em;
}
.follow{
    margin-left: 2em;
    margin-top: 3em;
    width: 80%;
    height: 30em;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.Sprofile{
    width: 100%;
    height: 3em;
    /* background-color: black; */
    display: flex;
    /* justify-content: space-between; */
    gap: 2em;

}
.simg img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.sname{
    margin-left: -1em;
    width: 10em;
    /* background-color: blueviolet; */
}

.suername{
    font-weight: bold;
    font-size: 1em;
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sbtn{
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: end;
}
.suggest{
    width: 100%;
    /* background-color: bisque; */
    height: 19em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.sug{
    width: 100%;
    height: 1em;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.suprofile{
    width: 100%;
    height: 3em;
    /* background-color: blue; */
    display: flex;
    gap: 1em;
    
}
.suphoto img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.sunames{
    width: 10em;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 1px;
}
.sufollow{
    width: 7em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 2em;
    width: 100%;
    border: none;
    background-color: rgb(5, 5, 181);
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2em;
}
.nofollowed{
    color: grey;
}
.suggestion{
        color: rgb(178, 171, 171);
}
.seeall{
    font-weight: 600;
    }
.company{
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: grey;
}
.cabout{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.chat{
    height: 13em;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;

}
.cmsg{
    margin-right: 1.7em;
    background-color: rgb(38, 36, 36);
    width: 55%;
    padding: 10px;
    border-radius: 1.5em;
   display: flex;
   gap: 5px;
   justify-content: space-between;
   align-items: center;
}
.ff{
    display: flex;
    gap: 10px;
    margin-left: 3px;
    font-size: 1.3em;
}
.meto{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
